<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conform Now-goforbuy.js</title>
    <link rel="stylesheet" href="/styleshets/main.css">
    <link rel="stylesheet" href="/styleshets/conform-now.css">
</head>

<body>
    <div class="wrapper">
        <h1 class="heading">Almost Done</h1>
        <h1 class="sub-heading">Confirm Your Email</h1>
        <h4>Enter Your Email Below to Confirm</h4>
        <form class="form" id="contactForm">
            <input type="text" placeholder="Enter Your Email" class="input" id="email">
            <input type="submit" value="Confirm Now" class="confirm-button input">
        </form>
        <h3>Email Verification required. Access details and a Special Bonus will be sent to the email adress above</h3>
        <p><a href="/privacy-policy">Privacy Policy </a>| <a href="/terms-services">Terms of Services </a>| <a
                href="/earning-disclamer">Earning Disclaimer</a></p>
    </div>
    <script src="/javascripts/conform-now.js"></script>
</body>

</html>