<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Earning-disClamer-goforbuy.us</title>
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Roboto", sans-serif;


    }

    .wrapper {
        height: 100vh;
        width: 100vw;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 1rem 5rem;
    }

    h1 {
        color: #6E92E4;
        font-size: 2.1rem;
        margin: .5rem;
        margin-bottom: 1.5rem;
    }

    .down-div {
        width: 100%;
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 1.8rem;
    }

    .lower-p {
        font-weight: 600;
    }

    .mainDiv {
        text-align: justify;
    }

    .main-p {
        font-style: normal;
        font-size: 1rem;
        line-height: 1.8rem;
        vertical-align: baseline
    }

    /* Styles for landscape orientation */
    /* Styles for tablets */
    @media (min-width: 768px) and (max-width: 1024px) {
        body {
            background-color: rgb(255, 255, 255);
        }
    }
    
    /* Styles for mobile phones */
    @media (max-width: 767px) {
        .wrapper {
            padding: 1rem;
        }
    }
</style>

<body>
    <div class="wrapper">
        <h1>Earning Disclamer</h1>
        <div class="mainDiv">
            <p class="main-p">Every effort has been made to accurately represent this product and it’s potential. Even
                though this industry
                is one of the few where one can write their own check in terms of earnings, there is no guarantee that
                you
                will earn any money using the techniques and ideas in these materials. Examples in these materials are
                not
                to be interpreted as a promise or guarantee of earnings. Earning potential is entirely dependent on the
                person using our product, ideas, techniques and the effort put forth. We do not purport this as a “get
                rich
                scheme.” Your level of success in attaining the results claimed in our materials depends on the time you
                devote to the program, ideas and techniques mentioned, knowledge and various skills. Since these factors
                differ according to individuals, we cannot guarantee your success or income level. Materials in our
                product
                and our website may contain information that includes or is based upon forward-looking statements within
                the
                meaning of the securities litigation reform act of 1995. Forward-looking statements give our
                expectations or
                forecasts of future events. You can identify these statements by the fact that they do not relate
                strictly
                to historical or current facts. They use words such as “anticipate,” “estimate,” “expect,” “project,”
                “intend,” “believe,” “plan,” and other words and terms of similar meaning in connection with a
                description
                of potential earnings or financial performance. Any and all forward looking statements here or on any of
                our
                sales material are intended to express our opinion of earnings potential. Many factors will be important
                in
                determining your actual results and no guarantees are made that you will achieve results similar to ours
                or
                anybody else’s, in fact no guarantees are made that you will achieve any results from our ideas and
                techniques.</p>
        </div>
        <div class="down-div">
            <p>Results vary, and as with any money-making opportunity, you could make more or less.</p>
            <p>Success in ANY money-making opportunity is a result of hard work, time and a variety of other factors.
            </p>
            <p class="lower-p">No express or implied guarantees of income are made by www.goforbuy.us</p>
        </div>
</body>

</html>