<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>goforbuy.us</title>
    <link rel="stylesheet" href="../public/styleshets/inde.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            overflow-x: hidden;
            overflow-y: auto;
            font-family: "Roboto", sans-serif;

        }


        .wrapper {
            height: 100vh;
            width: 100vw;
            background-color: #F0F5FA;
            display: flex;
            flex-direction: column;
        }

        a {
            text-decoration: none;
        }

        .nav {
            width: auto;
            padding: 1.5rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #fff;
            padding-left: 6rem;
            padding-right: 6rem;
        }

        .ul {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            gap: 2rem;
            margin-left: 1rem;
        }

        .ul li a {
            font-size: 1rem;
        }


        .logo {
            font-size: 2rem;
            font-weight: 500;
            padding: 0 auto;
        }

        .section {
            padding: 3rem;
            padding-left: 6rem;
            padding-right: 6rem;
            flex: 1;
            overflow: hidden;
        }

        .card {
            background-color: #fff;
            color: #000;
            width: 30%;
            padding: 1.2rem;
            border-radius: .3rem;
        }

        .card-a {
            color: darkblue;
            font-size: 1rem;
            margin-top: 1.2rem;
            margin-bottom: 1.2rem;
        }

        .card h2 {
            margin-top: 1.2rem;
            margin-bottom: 1rem;
            font-size: 1.4rem;
            font-weight: 600;
        }

        .card p {
            margin-top: 1rem;
        }

        .footer {
            position: absolute;
            bottom: 0px;
            width: 100%;
            background-color: #fff;
            padding: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .footerLink {
            color: #4573B9;
        }

        .none {
            display: none;
        }

        .icon {
            display: none;
        }

        @media (min-width: 768px) and (max-width: 1170px) {
            .nav {
                padding: 1rem;
            }
            .logo{
                font-size: 1.4rem;
            }
            .section{
                display: flex;
                flex-direction: column;
            }
            .card{
                width: 100%;
            }
            .flowting-item-div{display: none;}
        }

        @media (max-width: 990px) {
            .logo {
                font-size: 1.5rem;
                font-weight: 400;
            }

            .nav {
                padding: 1rem;
            }

            .section {
                /* display: flex; */
                /* align-items: center; */
                /* justify-content: center; */
                text-align: justify;
                padding: 2.5rem;

            }

            .card {
                width: auto;
                padding: 1rem;
            }

            .card-a {
                color: darkblue;
                font-size: .8rem;
                margin-top: 1.2rem;
                margin-bottom: 1.2rem;
            }

            .ul {
                display: none;
            }

            .flowting-item-div {
                border-top: 1px solid #000;
                background-color: #fff;
            }

            .flowting-item-div a {
                color: #000;
                font-size: .9rem;
            }

            .ul-2 {
                display: flex;
                flex-direction: column;
                gap: 1.5rem;
                padding: 0 1rem;
                padding-top: 2rem;
            }

            .footer {
                padding: .4rem;
                font-size: .7rem;
                position: fixed;
                bottom: 0;
            }

            .card h2 {
                margin-top: 1.2rem;
                margin-bottom: 1rem;
                font-size: 1.2rem;
                font-weight: 400;
            }

            .card p {
                font-size: 1rem;
                font-weight: 300;
            }

            .icon {
                display: flex;
            }

        }
    </style>
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
</head>

<body>
    <div class="wrapper">
        <nav class="nav">
            <div class="logo">goforbuy</div>
            <div class="navitems">
                <ul class="ul">
                    <li><a href="/conform-now">Conform Now</a></li>
                    <li><a href="/earning-disclamer">Earning Disclamer</a></li>
                    <li><a href="/otp-in-page">Opt-in Page</a></li>
                    <li><a href="/privacy-policy">Privacy Policy</a></li>
                    <li><a href="/terms-services">Terms and Services</a></li>
                    <li><a href="">Thank You Page</a></li>
                    <li></li>
                </ul>
                <i class="fa-solid fa-bars icon" id="manu"></i>
            </div>
        </nav>
        <div class="flowting-item-div none" id="flot-div">
            <ul class="ul-2">
                <li><a href="/conform-now">Conform Now</a></li>
                <li><a href="/earning-disclamer">Earning Disclamer</a></li>
                <li><a href="/otp-in-page">Opt-in Page</a></li>
                <li><a href="/privacy-policy">Privacy Policy</a></li>
                <li><a href="/terms-services">Terms and Services</a></li>
                <li><a href="">Thank You Page</a></li>
                <li></li>
            </ul>
        </div>
        <section class="section">
            <div class="card">
                <a href="" class="card-a">Uncategorized</a>
                <h2>Hello World!</h2>
                <a href="" class="card-a">anandmaharana427@gmail.com / january 16, 2004</a>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi cupiditate, veniam exercitationem
                    deleniti totam soluta!</p>
            </div>
        </section>
        <footer class="footer">
            Copyright © 2024 goforbuy.us | Powered by <a href="" class="footerLink">Astra WordPress Theme</a>
        </footer>
    </div>

    <script>
        const manueButton = document.getElementById("manu")
        const flotDiv = document.getElementById("flot-div")
        manueButton.addEventListener("click", () => {
            flotDiv.classList.toggle("none")
            console.log(flotDiv.classList);
        })
    </script>
</body>

</html>