<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>goforbuy.us</title>
    <link rel="stylesheet" href="/styleshets/main.css">
    <link rel="stylesheet" href="/styleshets/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>

<body>
    <div class="wrapper">
        <nav class="nav">
            <div class="logo">goforbuy</div>
            <div class="navitems">
                <ul class="ul">
                    <li><a href="/conform-now">Conform Now</a></li>
                    <li><a href="/earning-disclamer">Earning Disclamer</a></li>
                    <li><a href="/otp-in-page">Opt-in Page</a></li>
                    <li><a href="/privacy-policy">Privacy Policy</a></li>
                    <li><a href="/terms-services">Terms and Services</a></li>
                    <li><a href="">Thank You Page</a></li>
                    <li></li>
                </ul>
                <i class="fa-solid fa-bars icon" id="manu"></i>
            </div>
        </nav>
        <div class="flowting-item-div none" id="flot-div">
            <ul class="ul-2">
                <li><a href="/conform-now">Conform Now</a></li>
                <li><a href="/earning-disclamer">Earning Disclamer</a></li>
                <li><a href="/otp-in-page">Opt-in Page</a></li>
                <li><a href="/privacy-policy">Privacy Policy</a></li>
                <li><a href="/terms-services">Terms and Services</a></li>
                <li><a href="">Thank You Page</a></li>
                <li></li>
            </ul>
        </div>
        <section class="section">
            <div class="card">
                <a href="" class="card-a">Uncategorized</a>
                <h2>Hello World!</h2>
                <a href="" class="card-a">anandmaharana427@gmail.com / january 16, 2004</a>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi cupiditate, veniam exercitationem
                    deleniti totam soluta!</p>
            </div>
        </section>
        <footer class="footer">
            Copyright © 2024 goforbuy.us | Powered by <a href="" class="footerLink">Astra WordPress Theme</a>
        </footer>
    </div>
    <script src="/javascripts/index.js"></script>
</body>

</html>