<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Otp-in page-goforbuy.us</title>
    <link rel="stylesheet" href="/styleshets/main.css">
    <link rel="stylesheet" href="/styleshets/otp-in-page.css">
</head>

<body>
    <div class="wrapper">
        <h1>Make $100 in Just 24 Hours with 100% Free Traffic No Investment!</h1>
        <form action="" class="form">
            <input type="text" placeholder="Your Email Address" class="input">
            <input type="submit" value="Confirm Now" class="input bt">
        </form>
    </div>
</body>

</html>