.wrapper {
    height: 100vh;
    width: 100vw;
    text-align: center;
    padding: 2rem;

}

h1 {
    color: #3D7D6D;
    font-weight: 600;
    font-size: 2.7rem;
    margin-top: 5rem;
    margin-bottom: 2.5rem;
}

.form {
    width: 40%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 1rem;
}

.input {
    padding: .7rem 1rem;
    font-size: 1.2rem;
    border-radius: .5rem;
    outline: none;
    border: .1rem solid #4b4b4b;
}

.bt {
    background-color: #fb5e1a;
    border: none;
    color: #fff;
}

@media (max-width: 767px) {

    .form{
        width: 80%;
    }
    h1{
        font-size: 2.2rem;
        margin: 5rem auto;
        margin-bottom: 3rem;
    }
    .input{
        padding: .5rem .7rem;
        font-size: .9rem;
    }
}